# C++ build files
*.o
*.exe

# output from testing the tutorial
# a copy of the output is version controlled under tutorial/example
tutorial/*
TestAll/*
testzstruct/*

# pixi environments
.pixi
*.egg-info
